<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <script type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js" charset="utf-8"></script>
       <link rel="stylesheet" href="../public/css/styles.css">
       <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      <title></title>
   </head>
   <body>
   <div class="navbar">
      <ul>
          <li>
             <a href="../about.html">RESUME</a>
          </li>
          <li>
             <a href="#">WORK</a>
          </li>
          <li>
             <a href="#">CONTACT</a>
          </li>
          <li>
             <a href="#">ABOUT</a>
          </li>
     </ul>
   </div>
    <div class="header">
        <ul>
            <li>
                <a href="views/about.html">RESUME</a>
            </li>
            <li>
                <a href="#">WORK</a>
            </li>
            <li>
                <a href="#">CONTACT</a>
            </li>
            <li>
                <a href="#">ABOUT</a>
            </li>
        </ul>

    <div id="introduction">
      <div id="name">
        <h1>NIC SCHOLZ</h1>
         <h3>Industrial Designer</h3>
         <h3>Web Developer</h3>
      </div>
   </div>

   <div id="project1" class="canvas">
      <h1 class="project-title">dfa x chrysler</h1>
      <p class="description"> </p>
      <img class="dfarender" src="../public/images/dfaRender.png"/>
   </div>

   <svg width="400" height="180">
  <rect x="50" y="20" width="150" height="150" />
</svg>

   <br>

   <div id="project2" class="canvas">
         <h1 class="project-title">Lusso</h1>
         <p class="description"> </p>
         <img class="lussophone1" src="../public/images/lussophone.png"/>
   </div>

   <br>

   <div id="project3" class="canvas">
      <div class="canvas">
         <h1 class="project-title">x-pin</h1>
         <p class="description"> </p>
         <img class="xpin" src="../public/images/x.png"/>
      </div>
   </div>

   <br>

   <div class="project4">
      <div class="canvas">
         <h1 class="project-title">websites</h1>
         <p class="description"> </p>
         <img src="../public/images/websiteMacbookTemplate.png"/>
      </div>
   </div>

   <br>

   <div class="project5">
      <div class="canvas">
         <h1 class="project-title">prints</h1>
         <p class="description"> </p>
         <img src="../public/images/lussopone.png"/>
      </div>
   </div>
       <br>

    <div class="footer">
        <a class="btn" href="mailto:nicscholz@icloud.com" target="_top">contact</a>
    </div>

   </body>
</html>
